.create-post-page {
    margin-top: 20px;
    padding: 20px;
    background: #faf8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-post-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
